body
{
    /* From http://lea.verou.me/css3patterns/ */
    /* Playing with CSS */
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

.logo{
    align-items: center;
    justify-content: center;
}
.logo img{
    display: block;
    width: 40%;
    margin-top: 10px;
    margin-left: 40px;
}
#Menu_superior{
    background-color: rgb(72, 113, 196);
    margin: 20px;
    border-radius: 10px;
    padding: 5px 20px 10px 20px;
}
#menu_superior ul{
    list-style: none;
    padding: 20px;
    margin: 20px;
}

#Menu_superior ul li{
    align-items: center;
    Display: inline-block;
    width: 20%;
}
#Menu_superior ul li a{
    text-decoration: none;
    color: black;
}    