:root{
    --color-verde: rgb(68, 224, 143)
}
html
{
    /* From http://lea.verou.me/css3patterns/ */
    /* Playing with CSS */
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    width: 98%;
}


/*menu Haburguesa*/
#menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    height: 100%;
}
#menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}
#menuToggle a:hover{
    color: var(--color-verde);
}
#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
}
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--color-verde);
    border-radius: 3px;
    z-index: 1;

    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),opacity 0.55s ease;
}
#menuToggle span:first-child {
    transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
    
}
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}
#menuToggle input:hover~span {
    background: var(--color-verde);
}
#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}
#menu {
    position: absolute;
    width: 30%;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}
#menu li {
    padding: 10% 0;
    font-size: 32px;
}
#menuToggle input:checked~ul {
    transform: none;
}
/*fin menu Haburguesa*/
.contenido_principal{
    align-items: center;
    justify-content: center;
}
.contenido_principal h1{
    display: inline-block;
    width: 10%;
    margin-top: 2%;
    margin-left: 25%;
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300px;
    color: #fff;
}
.contenido_principal p{
    display: inline-block;
    width: 40%;
    margin-top: 2%;
    margin-left: 10%;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300px;
    color: var(--color-verde);
}